img {
    position: relative;
    max-width: 100%;
    height: auto;
    display: block;
}


.difference-mark {
    position: absolute;
    background-color: transparent;
    border: 3px solid #FF0000;
    border-radius: 50%;
    height: 50px; width: 50px;
    pointer-events: none;
    top: 0; 
    left: 0;
}
